.container {
    font-weight: 400;
    font-size: 16px;
    color: #6A7D8B;
    padding: 24px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.container:hover {
    color: #1b1b1b;
}

.container span {
    margin-left: 24px;
}

@media (min-width: 1024px) {
    .container {
        padding: 0;
        color: #fff;
    }
    
    .container:hover {
        color: rgba(255, 255, 255, 0.8);
    }
    
    .container span {
        margin-left: 8px;
    }
}

