.container{
    margin-top: 24px;
    padding: 10px;
    background-color: rgba(27, 27, 27, .1);
    text-align: center;
    border: 0.5px solid rgba(27, 27, 27, .1);
    
}

.title {
    font-weight: 600;
    font-size: 16px;
    color: rgba(27, 27, 27, 0.8);
}

.subTitle {
    font-weight: 400;
    font-size: 14px;
    color: rgba(27, 27, 27, 0.7);
}