.container {
    background-color: #FFF;
    min-height: 100vh;
}

.headerArea {
    background-color: #FFF;
    padding: 50px 24px 0;
}

.headerContent {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 24px 50px;
}

@media (min-width: 1024px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 400px;
        gap: 32px;
        align-items: flex-start;
    }

    .rightSide {
        position: sticky;
        top: 24px;
    }
}

.infoGroup {
    border-top: 1.5px solid rgba(27, 27, 27, 0.1);
    margin-bottom: 40px;
}

.infoArea {
    padding-top: 24px;
}

.infoTitle {
    font-weight: 400;
    font-size: 16px;
    color: #1b1b1b;
    margin-bottom: 8px;
}

.paymentTypes {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.paymentTypes .paymentBtn {
    flex: 1;
}

.cupomInput {
    display: flex;
    gap: 14px;
}

.cupomInput input {
    flex: 1;
}

.prodQuant {
    border-top: 1.5px solid rgba(27, 27, 27, 0.1);
    border-bottom: 1.5px solid rgba(27, 27, 27, 0.1);
    padding: 19px 0; 
    font-weight: 400;
    font-size: 16px;
    color: #1b1b1b;
}

.prodList {
    margin-top: 24px;
}

.resumeArea {
    background-color: #F9F9FB;
    border-radius: 8px;
    margin-top: 24px;
    padding: 48px 32px;
}

.resumeItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.resumeLeft {
    font-weight: 400;
    font-size: 16px;
    color: #1b1b1b;
}

.resumeRight {
    font-weight: 500;
    font-size: 16px;
}

.resumeLine {
    border-top: 1px dashed #96A3AB;
    margin-bottom: 29px;
}

.resumeRightBig {
    font-weight: 600;
    font-size: 24px;
}

.resumeButton {
    margin-top: 40px;
}

.resumeButton button {
    width: 100%;
}

.infoError {
    color: red;
    font-size: 16px;
    margin-top: 8px;
    font-weight: 600;
}

@media (max-width: 1023px) {
    .resumeArea {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .headerArea {
        padding: 50px 16px 0;
    }

    .content {
        padding: 24px 16px 50px;
    }

    .paymentTypes {
        flex-direction: column;
        gap: 16px;
    }

    .cupomInput {
        flex-direction: column;
        gap: 16px;
    }

    .resumeArea {
        padding: 32px 16px;
    }

    .resumeLeft,
    .resumeRight {
        font-size: 14px;
    }

    .resumeRightBig {
        font-size: 20px;
    }
}



